%p#notice= notice

%p
  %b Category:
  = category.name

%br

- if user_signed_in?
  = link_to 'Add new product', new_category_product_path(category), class: 'btn btn-success'

  %h2
    %b Products:

= render partial: 'products/list', object: category.products

%br
- if current_user and current_user.admin?
  = link_to 'Edit category', edit_category_path(category), class: 'btn btn-default'
= link_to 'Back', categories_path, class: 'btn btn-default'