%h1
  = 'Products of '
  %b
    = link_to category.name, category_path(category)
  = ' category:'

- if user_signed_in?
  = link_to 'Add new product', new_category_product_path(category), class: 'btn btn-success'

= render partial: 'products/list', object: category.products

%br
