%h2
  = "Product title: "
  %b= product.title

%p
  %b Category:
  = link_to product.category.name, category_path(product.category)
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%br

- if current_user == product.user
  = link_to 'Edit product', edit_category_product_path(category.id, product.id),  class: 'btn btn-default'
= link_to 'Back', category_products_path, class: 'btn btn-default'

%br

- if user_signed_in?
  %br
  %h4 Add review:
  = render 'reviews/form'

%h3 Reviews

- if product.reviews.count == 0
  %p
    %i No reviews yet.
- else
  %ul.list-group

= render reviews

