!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand{ href: root_path } #{AppConfig.workshops_name}
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              %p.navbar-text= 'Signed in as ' + current_user.firstname + ' ' + current_user.lastname
            %li= link_to 'Profile', users_show_path
            %li= link_to 'Log out', destroy_user_session_path, :method => :delete
          - else
            %li= link_to 'Log in', new_user_session_path
            %li= link_to 'Register', new_user_registration_path

    .container-fluid
      .row
        .col-lg-12
          - if flash[:notice]
            %div.alert.alert-info= flash[:notice]
          - if flash[:alert]
            %div.alert.alert-danger= flash[:alert]
          - if flash[:error]
            %div.alert.alert-danger= flash[:error] 
          = yield